<div class="container text-center">
  <br>
<h1>All Merchants</h1>
  <div id="new-link-top"><%=button_to "Add New Merchant", "/admin/merchants/new", method: :get %></div>
  <div class="merchant-adm">
    <div id="top-5" class="left-div">
      <ol>
        <h4>Top five merchants</h4>
        <% @merchants.top_merchant.each do |merchant|%>
        <li>  Name: <%= button_to "#{merchant.name} show", "/admin/merchants/#{merchant.id}", method: :get %> CA$H earned: <%=merchant.revenue%></li>
        <%end%>
      </ol>
    </div>
<ul>
<div id="enabled">
<h4>Active Merchants</h4>
<% @merchants.enabled.each do |merchant| %>
  <li id="merchant-<%= merchant.id %>">Name: <%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}", method: :get %><br> Current status: <%= merchant.status %><br>
  Merchant dashbord :<%= button_to "#{merchant.name} Dashboard", "/merchants/#{merchant.id}", method: :get %>
  <%= form_with url: "/admin/merchants/#{merchant.id}?status_button=true", method: :patch, local: true do |form| %>
  <% statusing = [ "enabled", "enable" ] %>
  <% statusing = [ "disabled", "disable" ] if merchant.status == "enabled" %>
  <%= form.hidden_field :status, value: statusing[0] %>
  <%= form.submit statusing[1] %>
  </li><br>
  <% end %>
<% end %>
</div>
</ul>
<br>

<br>
<div id="disabled" class='right-div'>
<ul>
  <h4>Inactive Merchants</h4>
<% @merchants.disabled.each do |merchant| %>
  <li id="merchant-<%= merchant.id %>">Name: <%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}", method: :get %> <br>Current status: <%= merchant.status %><br>
  Merchant dashbord :<%= button_to "#{merchant.name} Dashboard", "/merchants/#{merchant.id}", method: :get %>
  <%= form_with url: "/admin/merchants/#{merchant.id}?status_button=true", method: :patch, local: true do |form| %>
  <% statusing = [ "enabled", "enable" ] %>
  <% statusing = [ "disabled", "disable" ] if merchant.status == "enabled" %>
  <%= form.hidden_field :status, value: statusing[0] %>
  <%= form.submit statusing[1] %>
  </li><br>
  <% end %>
<% end %>
</ul>
</div>
<br>
</div>
<div id="new-link-bottom"><%= button_to "Add New Merchant", "/admin/merchants/new", method: :get %></div>
</div>
