<h1>Add a New Merchant</h1>

<%= render partial: "form", locals: {
                                    path: '/admin/merchants',
                                    method: :post,
                                    label: "Submit",
                                    stuff: {:value => "disabled"}
                                  } %>

<%= #form_with url: '/admin/merchants', method: :post, local: true do |f| %>
  <%= #f.label :name %>
  <%= #f.text_field :name %>

  <%= f.hidden_field :status, :value => "disabled" %>

  <%= #f.submit "Submit" %>
<% #end %>
