<div class="container text-center">
<h1>Herein the glorious attributes are herein listed</h1>
<div class="merchant-adm">
<ul>
  <h3>Customer Data</h3>
  <li>Customer name: <%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %><br>Customer ID: <%= @invoice.customer_id %><br>Invoice made: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %><br>
  <li>Invoice ID: <%= @invoice.id %></li>
  <li>Invoice status: <%= @invoice.status %></li>
</ul>

<div class="center-col2">
<h3>Items in this invoice </h3>
<% @invoice.invoice_items.each do |invoice_item| %>
  Item name: <%= invoice_item.item.name %><br>
  Item price: <%= invoice_item.item.unit_price %><br>
  Quantity purchased: <%= invoice_item.quantity %>
<div id="<%=invoice_item.item_id %>">Item status: <%= invoice_item.status %>
  <%= form_with url: "/merchants/#{@merchant.id}/invoices/#{@invoice.id}?invoice_item=#{invoice_item.id}", method: :patch, local: true do |form|%>
      <%=form.select :status, ['pending', 'shipped', 'packaged'], selected: invoice_item.status %>
      <%= form.submit "Update Item Status" %>
<% end %>

<%end%></div><br>
<h3> Total amount due on <%="#{@invoice.customer.first_name}"%>'s invoice: $<%= "#{@invoice.total_revenue}"%>
  </div>
