<div class="container text-center">
    <div class="merchant-adm">
<ul>
  <div>
    <h2><%= @merchant.name %> Store</h2>
<div>  <%= link_to "View store items", "/merchants/#{@merchant.id}/items" %><br><%= link_to "View invoices", "/merchants/#{@merchant.id}/invoices" %></div>

Potentially more merchant statistics in this column
</ul>

<div class="center-col2">
<h2>Items ready to ship</h2>
<% if @merchant.invoice_items.present? %>
    <% @merchant.ready_items.each do |invoice_item| %>
    <div id="invoice_item-<%= invoice_item.id %>">
      <ul>
      <li>Name: <%=invoice_item.item.name%><br>
      Invoice Number: <%=invoice_item.invoice.id%><br>
      Order Date: <%=invoice_item.invoice.format_date%><br>
      <%= link_to "View this invoice", "/merchants/#{@merchant.id}/invoices/#{invoice_item.invoice.id}" %></li>

      </ul>
    </div>
    <% end %>
<% end %>
</div>
</div>
